<!DOCTYPE html>
<html>
<head>
<title>GA Lost & Found</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='/list-style.css'>
  <link rel='stylesheet' href='/default-style.css'>
  <link rel="stylesheet" href="/animate.min.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-1">
      </div>
    <div class="col-md-10" id="main">
        <% list.forEach(function(post){ %>
  <div class="note-container">
    <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title"><%=post.short_descr%></h3>
            </div>
            <div class="panel-body">
              <div class="table-responsive">
              <table class="table table-striped">
                <tr>
                  <td>NAME</td>
                  <td>CATEGORY</td>
                  <td>COMMENT COUNTER</td>
                  <td>LOCATION</td>
                  <td>POST-DATE</td>
                </tr>
                <tr>
                    <td>
                    <h1><%=post.name%></h1>
                    </td>
                    <td>
                      <%if( post.category==="Electronics (Phone,Laptop,etc.)"){%>
                          <h1><%=post.category.match(/\Electronics/g)%></h1>
                     <% }else{ %>  <!-- needs to be on the same line -->
                          <h1><%=post.category%></h1>
                     <%}%>
                    </td>
                    <td>
                    <h1> <%=post.comment_counter%></h1>
                    </td>
                    <td>
                    <!--   replace works but trim does not-->                      
                    <h1><%=post.location.replace(/\s/g,'')%></h1>
                    </td>
                    <td>
                      <h1><%=post.post_date%></h1>
                    </td>
                <tr>
              </table>
              <button class='show btn btn-warning btn-lg' id='detail'>Detailed Post</button>
              <h1 class='detail-text'><%=post.content%></h1>
              <h1 class='comments-title'>Comments:</h1>
              <h1><%=post.context%></h1>
              <button class='show btn btn-warning btn-lg' id='comment'>New Comment</button>
              <input type="text" class="form-control"  name="newcomment">
            </div>
            </div>
            </div>
    </div>
    <%})%>       
      </div>
      <div class="col-md-1">
        <form action='/newpost' method='GET'>
        <button class="btn btn-warning btn-lg"> Create New Post </button>
        </form>
      </div>
    </div>
  </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/script.js" type="text/javascript"></script>    
</body>
</html>